











.bg-image {
    
    height: 90vh;
    background-image: url(img/sidebar-bg.png);
    background-color: #0b2439;
    color:white
   
 }
.logo-small { width: 100px;
              height: 80px;
             }

.logo { width: 130px;
              height: 80px; 
            margin-left: 10px;}
              
.container-two{
    background-color: red;
    display: flex;
    flex-direction: column;
 }
.container-three {
    margin-left: 200px;
    width: calc(100% - 200px);
 }
 .container-four {
   margin-left: 200px;
   width: calc(100% - 200px);
}
.alignment {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

.cont-1{
    height: 10vh;
    position: fixed 1;
 }

 .container-fluid{
    height: 10vh;
    position: fixed 1;
 }

.c{ }




